---
title: Newbrook Engineering - Metal Fabricators
---
<div class="header p-t-10">
  <h3 class="text-muted">
    <img class="ne-logo hidden-xs" src="assets/img/ne-logo.jpg"></img>
  <a href="/" class="c-red">Newbrook Engineering, (CREWE) LTD</a></h3>
</div>
<div class="headline-summary inverse pattern-noise merge-bottom">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Founded in 1973, building on excellent partnerships.</h1>
      <p class="lead">Over 40 years experience, our fabrication company leads in a diverse production line.</p>
      <p>From bespoke items to manufacturing on a large scale for our partners in the
        building and argricultural trade.</p>
      <p>We provide competitive prices and are located a few minutes from the M6.</p>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a href="#contact" class="btn btn-lg btn-block btn-danger">
        <i class="fa fa-1x fa-street-view"></i>
        Get in touch today</a>
    </div>
    <div class="col-sm-4 col-xs-12">
      <img src="assets/img/chas.jpg" class="img-responsive client-logo  hidden-xs"/>
      <p class="text-center lead visible-xs mt2">We are CHAS accredited contractor.</p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <img src="assets/img/newbrook-cfa-ukas.jpg" class="img-responsive client-logo hidden-xs"/>
      <p class="text-center lead visible-xs mt2">We are CFA/UKAS accredited.</p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <img src="assets/img/energas.jpeg" class="img-responsive client-logo hidden-xs"/>
      <p class="text-center lead visible-xs mt2">We are ENERGAS Agents in Cheshire.</p>
    </div>
  </div>
</div>
<div class="alternates pattern-noise">
  <div class="container">
    <div class="alternate-graphicbox row">
      <div class="graphicbox col-sm-4">
        <img src="assets/img/whats/what-1.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="">Fabrication Services</h3>
        <p>Single items to several. Brackets, supports, doors, security gates and bars.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alternate-graphicbox row">
      <div class="graphicbox col-sm-4 col-sm-push-8">
        <img src="assets/img/whats/what-44.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-pull-4">
        <h3 class="">Structural</h3>
        <p>From staircases and ramps to extensions, we offer a range of structural fabrication services.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alternate-graphicbox row">
      <div class="graphicbox col-sm-4">
        <img src="assets/img/whats/what-7.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="">Welding Specialists</h3>
        <p>We can offer MIG and TIG, ARC welding and on site welding to suit customer needs.</p>
        <p>We're also specialists with Alumininum and Stainless.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alternate-graphicbox row">
      <div class="graphicbox col-sm-4 text-center col-sm-push-8">
        <img src="assets/img/energas.jpeg" alt="ENERGAS Supplier in Cheshire">
      </div>
      <div class="description col-sm-7 col-sm-pull-4">
        <h3 class="">ENERGAS Gases Agent</h3>
        <p>We are ENERGAS gas agents and sell consumables for the steel industry. We have a shop on site to supply your demands for valves to cutting discs.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alternate-graphicbox row">
      <div class="graphicbox col-sm-4">
        <img src="assets/img/whats/what-1.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="">Stainless Steels</h3>
        <p>Handrails on stairways and landings. Bespoke display stands.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alternate-graphicbox row">
      <div class="graphicbox col-sm-4 col-sm-push-8">
        <img src="assets/img/whats/what-53.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-pull-4">
        <h3 class="">Fencing - Cheshire Railings</h3>
        <p>We've made Estates and Cheshire Railings; the iconic black and white open iron style, fencing since 1986.</p>
        <p>Popular throughout Cheshire we've made miles of it.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alternate-graphicbox row">
      <div class="graphicbox col-sm-4">
        <img src="assets/img/whats/what-9.jpg" alt="" class="img-responsive client-logo text-center">
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="">Saftey Provision</h3>
        <p>Fire escapes, gangways and handrails. Ideal to make new or old areas safe.</p>
      </div>
    </div>
  </div>
</div>
<!--/alternates-->
<section id="testimonials" class="section section-center section-hilite section-testimonial">
  <div class="container">
    <h2 class="section-title"><span>Why us?</span></h2>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <blockquote>
            <p>40 years experience in fabrication, from bespoke items to manufacturing on a large scale</p>
            <small>Founded in 1973 by <cite title="Source Title">Gerald Newbrook</cite></small>
          </blockquote>
        </div>
        <div class="item">
          <blockquote>
            <p>Long standing reputation, providing a reliable and professional service.</p>
            <small>Full time engineers with <cite title="Source Title">8 to 30 years experince</cite></small>
          </blockquote>
        </div>
        <div class="item">
          <blockquote>
            <p>Bespoke commissions, or large production for buildings, we provide a consistent and dependable response.</p>
            <small>Kevin Williams <cite title="Source Title"> Managing Director 2013</cite></small>
          </blockquote>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><img src="assets/img/thumbs/why-1.png" width="64" height="64" alt="" class="img-circle"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"><img src="assets/img/thumbs/why-1.png" width="64" height="64" alt="" class="img-circle"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"><img src="assets/img/thumbs/why-1.png" width="64" height="64" alt="" class="img-circle"></li>
      </ol>
    </div>
  </div>
  <div class="container">
    <div class="alternate-graphicbox row text-left">
      <div class="graphicbox col-sm-4">
        <img src="assets/img/projects/robinsons/400-1.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="">Project: Robinsons Brewery</h3>
        <p>A total refurbishment removal of old, replacement with new, including floors, maintenance, access platforms, staircases, &amp; roof top handrails.
        </p>
        <p>In addition we installed steel flashing, and stainless steel wooden topped handrails with mesh and glass panels on the viewing areas for Robinson's brewery tours.</p>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="section section-center section-cta">
  <div class="container">
    <h2 class="section-title"><span>We Welcome All Enquiries</span></h2>
    <p>Newbrook Engineering continues to be in demand with excellent partnerships with local and distant companies.</p>
    <a href="tel:+441270584836" class="btn btn-lg btn-primary"><i class="fa fa-phone"></i> Phone: 01270 584 836</a>
    <a href="mailto:newbrook.eng@gmail.com" class="btn btn-lg btn-primary mt2"><i class="fa fa-envelope-o"></i> newbrook.eng@gmail.com</a>
  </a>
</div>
</section>
<section id="clients" class="section section-our-clients">
  <div class="container">
    <h2 class="section-title"><span>Our Clients</span></h2>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <h5>Transportation Companies</h5>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h5>Building Contractors</h5>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h5>Private Builders</h5>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h5>Agricultural Companies</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="grid row">
      <% data.clients.published.each do |c| %>
        <div class="grid-item col-xs-6 col-sm-4 col-lg-4">
          <img src="assets/img/clients/<%= c.image%>"
      alt="<%= c.name %>"
      class="img-thumbnail img-responsive center-block" />
        </div>
      <% end %>
    </div>
  </div>
</section>
<section id="history" class="section section-blog section-hilite">
  <div class="container">
    <h2 class="section-title"><span>Our History</span></h2>
    <div class="row">
      <div class="col-md-6">
        <article class="hentry post">
          <a href="#" class="entry-thumbnail">
          </a>
          <header class="entry-header">
            <h2 class="entry-title">Getting Established</h2>
          </header>
          <div class="entry-content">
            <p>Formed 40 years ago by Gerald Newbrook.</p>
            <p>Heading towards the 1980's, a new purpose built facility was built as growth continued.</p>
            <!--<a href="#" class="more"><span class="btn btn-primary">Continue Reading</span></a>-->
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <article class="hentry post">
          <header class="entry-header">
            <h2 class="entry-title">The 1980's &amp; 90's</h2>
          </header>
          <div class="entry-content">
            <p>In 1980, the Samuel Jacksons engineering works at Wistaston closed. Their foreman, Bill Herriman joined Gerald as Newbrooks new foreman.</p>
            <p>Throughout the 1980's business continued, components for local companies, like ERF and public authorities   Borough Councils were produced</p>
            <p>In 1986, Cheshire County Council commissioned us to make the 'Cheshire Railings'. Popular throughout Cheshire we've made miles of it</p>
            <p>Many large national construction Companies sought our help in fitting out new industrial buildings.</p>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <article class="hentry post">
          <header class="entry-header">
            <h2 class="entry-title">Year 2000 onwards</h2>
          </header>
          <div class="entry-content">
            <p>In 2000, Gerald stepped down and Bill became the Managing director.</p>
            <p>This new phase saw large contracts with Pochin who are a major construction company.</p>
            <p>Newbrooks were also part of the extensive modernisation and re-organisation of the Stockport based Robinson brewery.</p>
            <p>Work involved large staircases and a considerable amount of Stainless steel work.</p>
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <article class="hentry post">
          <header class="entry-header">
            <h2 class="entry-title">Now and the future</h2>
          </header>
          <div class="entry-content">
            <p>Newbrook Engineering continues to be in demand, with excellent partnerships, locally and distant.</p>
            <p>In 2013, Newbrook Engineering was taken over by Kevin Williams, who started working here after leaving school in 1982. </p>
            <p>Now Kevin as Managing Director with his team; many of whom have 20+ years of service with the company,  leads the company into it's new phase.</p>
          </div>
        </div>
      </article>
      <div class="col-xs-12">
        <img src="assets/img/ne-team.jpg" class="img-responsive client-logo">
      </div>
    </div>
  </div>
</div>
</section>
<section id="contact" class="section section-center section-cta section-hilite">
  <div class="container">
    <h2 class="section-title"><span>Based in Crewe, Cheshire Jcn16/17 M6</span></h2>
    <div id="map" class="transparent">
      <!--Google Map Embedd. Make sure to remove all width and height inline styles and everything after the closing </iframe> tag.-->
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1198.1206765876482!2d-2.4165754999999995!3d53.08790025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1390591942336" width="100%" height="256" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</section>
