---
title: Newbrook Engineering - Metal Fabricators
---
<div class="container">

  <div class="header">

    <h3 class="text-muted">
      <img class="ne-logo" src="assets/img/ne-logo.jpg"></img>
      <a href="/">Newbrook Engineering</a></h3>
  </div>

  <div class="headline-summary inverse pattern-noise merge-bottom">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        <h1>Founded in 1973, building on excellent partnerships.</h1>
        <p class="lead">Over 40 years experience, our fabrication company leads in a diverse production line.</p>
        <p>From bespoke items to manufacturing on a large scale for our partners in the
          building and argricultural trade.</p>
        <p>We provide competitive prices and are located a few minutes from the M6.</p>
        <p>CE Accreditation ~ Pending</p>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-push-3">
    <a href="#contact" class="btn btn-block btn-danger">Get in touch</a>
    </div>
    <div class="col-sm-6">
      <!-- <a href="#portfolio" class="btn btn-block btn-default">View Portfolio</a> -->
    </div>
  </div>
</div>




<div class="alternates pattern-noise">

  <div class="container">
    <div class="alternate-graphicbox row">

      <div class="graphicbox col-sm-4">
        <img src="assets/img/whats/what-1.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="">Fabrication Services</h3>
        <p>Single items to several. Brackets, supports, doors, security gates and bars.</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="alternate-graphicbox row">
      <div class="graphicbox col-sm-4 col-sm-push-8">
        <img src="assets/img/whats/what-44.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-pull-4">
        <h3 class="">Structural</h3>
        <p>From staircases and ramps to extensions, we offer a range of structural fabrication services.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="alternate-graphicbox row">

      <div class="graphicbox col-sm-4">
        <img src="assets/img/whats/what-7.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="">Welding Specialists</h3>
        <p>We can offer MIG and TIG, ARC welding and on site welding to suit customer needs.</p>
        <p>We're also specialists with Alumininum and Stainless.</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="alternate-graphicbox row">
      <div class="graphicbox col-sm-4 col-sm-push-8">
        <img src="assets/img/whats/what-53.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-pull-4">
        <h3 class="">Fencing - Cheshire Railings</h3>
        <p>We've made Estates and Cheshire Railings; the iconic black and white open iron style, fencing since 1986.</p>
           <p>Popular throughout Cheshire we've made miles of it.</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="alternate-graphicbox row">

      <div class="graphicbox col-sm-4">
        <img src="assets/img/whats/what-1.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="">Stainless Steels</h3>
        <p>Handrails on stairways and landings. Bespoke display stands.</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="alternate-graphicbox row">
      <div class="graphicbox col-sm-4 col-sm-push-8">
        <img src="assets/img/whats/what-9.jpg" alt="" class="img-responsive text-center">
      </div>
      <div class="description col-sm-7 col-sm-pull-4">
        <h3 class="">Saftey Provision</h3>
        <p>Fire escapes, gangways and handrails. Ideal to make new or old areas safe.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="alternate-graphicbox row">

      <div class="graphicbox col-sm-4">
        <img src="assets/img/thumbs/boc1.png" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="">BOC Gases Agent</h3>
        <p>We are BOC gas agents and sell consumables for the steel industry. We have a shop on site to supply your demands for valves to cutting discs.</p>
      </div>
    </div>
  </div>

</div><!--/alternates-->

<div class="alternates pattern-noise">

  <div class="container">
    <div class="alternate-graphicbox row">

      <div class="graphicbox col-sm-4">
        <img src="assets/img/projects/robinsons/400-1.jpg" alt="" class="text-center">
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="">Project: Robinsons Brewery</h3>
        <p>A total refurbishment removal of old, replacement with new, including floors, maintenance, access platforms, staircases, &amp; roof top handrails.
        </p>
        <p>In addition we installed steel flashing, and stainless steel wooden topped handrails with mesh and glass panels on the viewing areas for Robinson's brewery tours.</p>
      </div>
    </div>
  </div>
</div>


        <section id="testimonials" class="section section-center section-hilite section-testimonial">
          <div class="container">
            <h2 class="section-title"><span>Why us?</span></h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <blockquote>
                    <p>40 years experience in fabrication, from bespoke items to manufacturing on a large scale</p>
                    <small>Founded in 1973 by <cite title="Source Title">Gerald Newbrook</cite></small>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote>
                    <p>Long standing reputation, providing a reliable and professional service.</p>
                    <small>Full time engineers with <cite title="Source Title">8 to 30 years experince</cite></small>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote>
                    <p>Bespoke commissions, or large production for buildings, we provide a consistent and dependable response.</p>
                    <small>Kevin Williams <cite title="Source Title"> Managing Director 2013</cite></small>
                  </blockquote>
                </div>
              </div>

              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><img src="assets/img/thumbs/why-1.png" width="64" height="64" alt="" class="img-circle"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"><img src="assets/img/thumbs/why-1.png" width="64" height="64" alt="" class="img-circle"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"><img src="assets/img/thumbs/why-1.png" width="64" height="64" alt="" class="img-circle"></li>
              </ol>
            </div>

          </div>
        </section>
        <section id="contact" class="section section-center section-cta">
          <div class="container">
            <h2 class="section-title"><span>We Welcome All Enquiries</span></h2>
            <p>Newbrook Engineering continues to be in demand with excellent partnerships with local and distant companies.</p>
            <p>We welcome all and any enquiries.</p>
            <h5>Phone: <span class="tel"><a href="tel:+441270584836">01270 584 836</a></span></h5>
            <!--<div class="main-action">-->
            <!--<div class="row">-->
            <!--<div class="col-lg-8 col-lg-offset-2">-->
            <!--<form class="form-inline" role="form">-->
            <!--<div class="form-group">-->
            <!--<label class="sr-only">Your Name</label>-->
            <!--<input type="text" class="form-control input-lg input-circle" placeholder="Your name">-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="sr-only">Your Email</label>-->
            <!--<input type="email" class="form-control input-lg input-circle" placeholder="Your email">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default btn-lg">Request Quote</button>-->
            <!--</form>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->



          </div>
        </section>

        <section id="history" class="section section-blog">
          <div class="container">
            <h2 class="section-title"><span>Our History</span></h2>
            <div class="row">
              <div class="col-md-6">
                <article class="hentry post">
                  <a href="#" class="entry-thumbnail">


                  </a>
                  <header class="entry-header">
                    <h2 class="entry-title">Getting Established</h2>

                  </header>
                  <div class="entry-content"><p>Formed 40 years ago by Gerald Newbrook.</p>

                    <p>Heading towards the 1980's, a new purpose built facility was built as growth continued.</p>
                    <!--<a href="#" class="more"><span class="btn btn-primary">Continue Reading</span></a>-->
                  </div>
                </article>
              </div>
              <div class="col-md-6">
                <article class="hentry post">

                  <header class="entry-header">
                    <h2 class="entry-title">The 1980's &amp; 90's</h2>

                  </header>
                  <div class="entry-content"><p>In 1980, the Samuel Jacksons engineering works at Wistaston closed. Their foreman, Bill Herriman joined Gerald as Newbrooks new foreman.</p>
                    <p>Throughout the 1980's business continued, components for local companies, like ERF and public authorities   Borough Councils were produced</p>
                    <p>In 1986, Cheshire County Council commissioned us to make the 'Cheshire Railings'. Popular throughout Cheshire we've made miles of it</p>
                    <p>Many large national construction Companies sought our help in fitting out new industrial buildings.</p>
                  </div>
                </article>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <article class="hentry post">
                  <!--<a href="#" class="entry-thumbnail">-->
                    <!--<img src="//placehold.it/165x165" alt="" />-->
                    <!--&lt;!&ndash;<span class="overlay"><i class="fa fa-plus"></i></span>&ndash;&gt;-->
                  <!--</a>-->
                  <header class="entry-header">
                    <h2 class="entry-title">Year 2000 onwards</h2>

                  </header>
                  <div class="entry-content">
                    <p>In 2000, Gerald stepped down and Bill became the Managing director.</p>
                    <p>This new phase saw large contracts with Pochin who are a major construction company.</p>
                    <p>Newbrooks were also part of the extensive modernisation and re-organisation of the Stockport based Robinson brewery.</p>
                    <p>Work involved large staircases and a considerable amount of Stainless steel work.</p>

                  </div>
                </article>
              </div>
              <div class="col-md-6">
                <article class="hentry post">

                  <header class="entry-header">
                    <h2 class="entry-title">Now and the future</h2>

                  </header>
                  <div class="entry-content"><p>Newbrook Engineering continues to be in demand, with excellent partnerships, locally and distant.</p>
                    <p>In 2013, Newbrook Engineering was taken over by Kevin Williams, who started working here after leaving school in 1982. </p>

                    <p>Now Kevin as Managing Director with his team; many of whom have 20+ years of service with the company,  leads the company into it's new phase.</p>

                  </div>
                </div>
                </article>
                <div class="col-xs-12">

                    <img src="assets/img/ne-team.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="clients" class="section section-hilite section-our-clients">
          <div class="container">
            <h2 class="section-title"><span>Our Clients</span></h2>
            <div class="row">
              <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">Transportation Companies</a>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">Building Contractors</a>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">Private Builders</a>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">Agricultural Companies</a>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">JTI</a>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">Dairy Gold</a>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">GIST</a>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#">BUILDBASE</a>
              </div>
            </div>
            <div class="row">

              <div class="col-xs-4">
                <a href="http://www.pochinconstruction.co.uk/" target="_new"> <img src="assets/img/clients/pochin.png" alt="" class="text-center " /></a>
              </div>
              <div class="col-xs-4">
               <a href="http://www.robinsonsbrewery.com/" target="_new"> <img src="assets/img/clients/robinsons-brewery.png" alt="" class="text-center" /></a>
              </div>

            </div>
          </div>
        </section>

        <section id="contact" class="section section-center section-cta">
          <div class="container">
            <div id="map" class="transparent">
              <!--Google Map Embedd. Make sure to remove all width and height inline styles and everything after the closing </iframe> tag.-->
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1198.1206765876482!2d-2.4165754999999995!3d53.08790025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1390591942336" width="100%" height="256" frameborder="0" style="border:0"></iframe>

            </div>

          </div>
        </section>

      </main>

      <footer id="footer" class="site-footer">
        <div class="container">

          <div id="sidebar-footer-1">
            <div class="row">

              <aside class="widget col-md-3 col-sm-6">
                <h5 class="widget-title">About Us</h5>
                <p>We have decades of engineering experience. From fencing to buildings, we can design, build and install.
                </p>
              </aside>

              <aside class="widget col-md-3 col-sm-6">
                <h5 class="widget-title">Contact</h5>
                <div class="textwidget">
                  <div class="adr">
                    <div class="street-address">Unit 13, Quakers Coppice.</div>
                    <span class="locality">Crewe</span>,
                    <abbr class="region" title="Cheshire">Cheshire</abbr>,
                    <span class="postal-code">CW1 6FA</span>,
                    <span class="country-name">UK</span>
                  </div>
                  <div>Phone: <span class="tel"><a href="tel:+441270584836">01270 584 836</a></span></div>
                  <div>Website: <a class="url" href="https://newbrook-engineering.co.uk">newbrook-engineering.co.uk</a></div>
                </div>
              </aside>


            </div>

          </div>


          <div class="copyright"><p>© 2015 Newbrook Engineering<br /> Supported by <a href="https://summit360.co.uk">Summit 360</a></p></div>
        </div>
      </footer>
    </div>
